## group_by

In [5]:
print("hello")

[1] "hello"

In [6]:
df <- mtcars

In [7]:
head(df)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [8]:
library(data.table)

In [9]:
dt <- data.table::as.data.table(df)

In [10]:
dt[, .(mean = mean(mpg)), by = c("cyl")]

  cyl mean
1 6   19.74286
2 4   26.66364
3 8   15.10000

In [11]:
unique(df$cyl)

[1] 6 4 8

In [12]:
cyc <- unique(df$cyl)

In [13]:
for (i in 1:length(unique(df$cyl))) {
    index  <- df$mpg[which(df$cyl == cyc[i])]
    mn <- mean(index)
    print(paste0("mean of ", cyc[i], " is ", round(mn,2)))
}

[1] "mean of 6 is 19.74"
[1] "mean of 4 is 26.66"
[1] "mean of 8 is 15.1"

In [14]:
cyc <- unique(df$cyl)
g <- unique(df$gear)

In [15]:
for (i in 1:length(unique(df$cyl))) {
    for (j in 1:length(unique(df$gear))) {
        ind <- which(df$cyl == cyc[i] & df$gear == g[j])
        if (length(ind) > 0) {
            mt <- df$mpg[ind]
            mn <- mean(mt)
            print(paste0(
                "mean of ",
                cyc[i], ",", "and ", g[j],
                " is ", round(mn, 2)
            ))
        }
    }
}

[1] "mean of 6,and 4 is 19.75"
[1] "mean of 6,and 3 is 19.75"
[1] "mean of 6,and 5 is 19.7"
[1] "mean of 4,and 4 is 26.92"
[1] "mean of 4,and 3 is 21.5"
[1] "mean of 4,and 5 is 28.2"
[1] "mean of 8,and 3 is 15.05"
[1] "mean of 8,and 5 is 15.4"

In [18]:
dt[, .(mean = mean(mpg)), by = c("cyl", "gear")][order(cyl)]

  cyl gear mean
1 4   4    26.925
2 4   3    21.500
3 4   5    28.200
4 6   4    19.750
5 6   3    19.750
6 6   5    19.700
7 8   3    15.050
8 8   5    15.400

## unique

In [20]:
cyl_u <- df$cyl

In [27]:
unq <- c()
for (i in 1:length(cyl_u)){
    
    if(!(cyl_u[i] %in% unq)){
        unq <- c(unq,cyl_u[i] )
        print(unq)
    }

}

[1] 6
[1] 6 4
[1] 6 4 8

In [26]:
print(unq)

[1] 6 4 8

## count

In [28]:
cyl_u <- df$cyl